[2015-04-01 23:08] mnelson4 opened #1 "Create basic GET endpoints for models"
For each model we want to create a basic GET endpoint. Eg, for the "Event" model we want to create a route "wp-json/ee4/events/" which will return a collection of event entities.

[2015-04-01 23:09] mnelson4 opened #2 "Create endpoints for GETTING specific endpoint"
For each model we want to create a GET endpoint to get a particular entity by its ID.

[2015-04-01 23:10] mnelson4 opened #3 "Create related model GET endpoints"
For each model's relation, we want to add a GET endpoint for getting all the related things to that particular model object. Eg, the Event model is related to the Datetime model, so we want to create an endpoint like "wp-json/ee4/events/{id}/datetimes"

[2015-04-02 23:26] mnelson4 opened #4 "Create endpoints for POSTing new objects"

[2015-04-02 23:26] mnelson4 opened #5 "Create endpoints for PUTTING (updating) existing objects"

[2015-04-02 23:27] mnelson4 opened #6 "Create endpoints for updating relations"

[2015-04-02 23:28] mnelson4 opened #7 "Create endpoints for getting a specific related item"
eg question_groups/1/questions/2, which should add the order field onto the question because it's being retrieved in context of the question group

[2015-04-02 23:35] mnelson4 opened #8 "Apply permissions/caps to READING the API"
permissions should be take into account when:
- [x] determining if the current user can access an endpoint at ALL (including the config endpoint)
- [x] determining if the current user can GET a particular entity after it's been retrieved from the DB (ie a request to events/1 should return 403 if it exists but the current user can't access it; not just a 404 saying it wasn't found)
- [x] building d

[2015-04-02 23:37] mnelson4 opened #9 "Allow API clients to specify fields and related models they want returned in a query"
ie they should be able to include or exclude particular fields; and include entire related entities (if they aren't included should we provide a link to them? if so where?)

[2015-04-02 23:39] mnelson4 opened #10 "Create GET endpoint for EE config"

[2015-04-02 23:40] mnelson4 opened #11 "Add EE data into the index"
We'd like to put some basic EE info into the WP index page, like what addons are active, what versions,  and other data?

[2015-04-02 23:44] mnelson4 opened #12 "Mark some model fields as read-only and calculate their values"
Also there will be other fields which simply don't exist in the database, like post_content_parsed (where shortcodes are parsed and have been replaced with their calculated content) which should be put into the API

[2015-04-02 23:49] mnelson4 opened #13 "Create unit tests to verify things don't change"
Create some unit tests with some hard-coded expectations so that if we ever REMOVE a field or a relation they will fail, alerting us that we ought to make an exception to make us backwards-compatible (eg, if we remove the relation from questions-groups-to-events, we should increment the version to v3, but when requests are for v2 we should somehow still return data like how people expeceted it in

[2015-04-02 23:52] mnelson4 opened #14 "Create SPCO-style endpoints for simplified registration"
This should basically create a transaction and all the related data, and then provide all the questions required to be answered in order to complete the registration, and then to fill out the billing info in order to process payment using the gateways, and associated notifications.

[2015-04-02 23:52] #1 closed, assigned to nobody

[2015-04-02 23:52] #2 closed, assigned to nobody

[2015-04-02 23:53] #3 closed, assigned to nobody

[2015-04-02 23:56] mnelson4 opened #15 "Support POSTing (creating) multiple entities simultaneously"
Eg we should be able to send a POST to /events to create multiple events.
Also when POSTing to /events, we may want to support creating new related datetimes, tickets, etc (only the related items' ID is required if they already exist)

[2015-04-03 00:06] mnelson4 opened #16 "Create endpoint for PUTting EE config data"

[2015-04-03 03:38] mnelson4 opened #17 "Calculate some values upon creation or updating of certain entities"
specifically, what fields ought to be calculated and when?
Transaction.TXN_total -> when a line item is added or updated
Transaction.TXN_paid -> when a payment is created or updated
Datetime.DTT_sold -> when a registration is created or updated
Ticket.TKT_sold -> when a registration is created or updated

So we should update those fields when that item occurs.

[2015-04-03 03:44] mnelson4 commented on #12
Actually, I'll keep this ticket just for the READ-side of it: so some new "fields" should be added onto some models, specifically:
-Event, venue, and attendee parsed post_content. WP API has "content_raw" and "content", so we may as well follow suite.

[2015-04-03 03:56] #12 closed, assigned to nobody

[2015-04-03 03:59] mnelson4 commented on #9
WP API adds a "meta" property onto each entity, which has a property of "links" which is an array. Regardless of whether we've included the related entities in this response, we should always set those

[2015-04-03 04:28] mnelson4 opened #18 "Ensure entity values formatted correctly"
Entity values should have ints, floats and strings. Dates should be in the same format as the WP API. Anything else?

[2015-04-03 20:17] #9 closed, assigned to nobody

[2015-04-03 22:51] #18 closed, assigned to mnelson4

[2015-04-04 00:01] mnelson4 commented on #10
I'm inclined to just have a single config endpoint now, rather than having /config/map_settings and /config/template_settings. The info on this endpoint is always quite short

[2015-04-04 00:01] #10 closed, assigned to nobody

[2015-04-04 00:03] mnelson4 commented on #11
just need to filter the "json_index" array to add our stuff

[2015-04-07 22:18] mnelson4 opened #19 "Write a post on p2.eventespresso.com and developer.eventepsresso.com about this"
I should also add a link to the survey in the readme.md doc (to http://eventespresso.com/developers/event-espresso-4-rest-api-survey/ ); explain that this requires a special branch of EE core on our repo and how folks can request access; and install this on a server and provide some sample queries and documentation. Also the p2 should mention that I'm using github's issue tracking etc

[2015-04-08 03:47] mnelson4 opened #20 "Apply permissions to WRITING to the API"
I'll want to refer to https://docs.google.com/a/eventespresso.com/spreadsheets/d/1paQ8gdiZmIpOTJetRtk0_7GZfsWIXkioqrWmXxS4FZo/edit#gid=1
for imposing permissions when users update/create stuff.
Specifically we'll need permissions to:
- [ ] determine if the current user can create new items
- [ ] determining if the current user can update a specific item
- [ ] determining if the current user can up

[2015-04-08 04:47] mnelson4 commented on #8
stuff I still need to figure out:
- [x] what if we're returning, say, a registration, and the user indicates to include each registration's attendee, but the user doesn't have permission to see the attendee? What should be returned? A WP_Error? (kinda nice and specific, not sure how that will convert into json) or null? (doesn't indicate if they have permission or not to see it; but simple)

[2015-04-08 04:50] mnelson4 commented on #8
Should use https://docs.google.com/a/eventespresso.com/spreadsheets/d/1paQ8gdiZmIpOTJetRtk0_7GZfsWIXkioqrWmXxS4FZo/edit#gid=1 for determing how permissions act

[2015-04-08 11:28] nerrad commented on #8
One consideration is how we save "authorship" for registrations and contacts.
- When a registration is created it's "author" is the author of the event the registration belongs to.
- The INITIAL contact is authored by the event the contact belongs to for the initial registration and thereafter doesn't change (which isn't so useful when a contact belongs to multiple registrations across multiple ev

[2015-04-08 13:37] mnelson4 commented on #8
yeah good point @nerrad, sounds like adding an ee_edit_others_contacts cap would be good, but either way that'l probably be best to address that once I'm working on #20, whereas this ticket is just focused on permissions relating to reading, not editing

[2015-04-08 13:58] nerrad commented on #8
Understood, but a `ee_read_others_contacts` would likely be good to have as well?

[2015-04-08 16:33] mnelson4 commented on #8
yeah that's a good point; that would make sense. Should we also consider adding `ee_read_others_questions`, `ee_read_others_question_types`, `ee_read_others_transactions`, `ee_read_others_payments`, `ee_read_others_prices`, `ee_read_others_price_types`, `ee_read_others_questions`, and others?
Also it's probably worth mentioning that many permissions apply to the admin, but might not apply normally

[2015-04-08 17:31] mnelson4 commented on #20
on #8, @nerrad pointed out we may want to add `ee_edit_others_contacts` to core.
Along those lines there may be a few other `ee_edit_others_*`-type caps we will want to add for other models, like for questions, question types, transactions, prices, etc...

[2015-04-08 18:06] nerrad commented on #8
yeah DEFINITELY worth considering "others" caps elsewhere (I think some of those mentioned already exist).  Keep in mind tho, we can only use "others" type caps when we save author information to the db for each object.

That's what I was kinda getting at in chat the other day about having an "admin" context for endpoints to use.  So when that context is used then we require auth for those request

[2015-04-08 20:33] mnelson4 opened #21 "Simplified GETing of admin-context results"
The API returns results that are either visible on the frontend or on the backend. But it would be nice to have a simple way to get admin-only-type results. On #8 @nerrad suggested having URLs like `/v1/admin/events`, whereas I was more thinking of making this just an added filter option (eg `v1/events?filter[admin]=1`.
Either way it would be nice, but probably not essential for an MVP

[2015-04-08 20:38] mnelson4 commented on #21
There isn't much precedent in the WP API for urls like `/v1/admin/events`, although the wp.com API does have urls like `v1/events/mine`, (which I actually added to the EE API too but am second-guessing it; I added it thinking the WP API had such a thing but it doesn't).
Troubles with having "admin" in front of the collection being retrieved (eg "events") are:
- it sorta clutters up the index, beca

[2015-04-08 20:39] mnelson4 commented on #8
re using

Yeah that's what I understood. I created #21 for that specifically

[2015-04-08 20:54] mnelson4 opened #22 "Manually triggering messages"
Should we have endpoints for manually triggering the sending of messages? Until we have the SPCO-like endpoints done, I suspect this will be an important feature.

[2015-04-08 21:17] mnelson4 commented on #19
Wrote the post on p2: http://p2.eventespresso.com/

[2015-04-08 21:27] mnelson4 commented on #19
now ought to add some documentation onto the wiki

[2015-04-08 21:31] nerrad commented on #22
would be handy.  Even with the SPCO endpoints done, we still may want to UTILIZE these endpoints.

[2015-04-08 21:40] nerrad commented on #8
huh, I thought registrations did have a wp_user filed, but nope they don't, but yeah I like how you're talking.

[2015-04-08 23:41] nerrad commented on #21
keep in mind that there are contexts where POSTING and PUTTING may be valid PUBLIC requests? (i.e. spco like behaviour?)

With that said I dig what you are saying about having an `/admin/` endpoint cluttering up the index.  I wonder if there's value in having it included in a separate section of the index?

With that said, I won't push against just having a filter.

[2015-04-11 00:07] mnelson4 opened #23 "Define what fields are queryable and what aren't"
This might just be a matter of documenting it in the wiki, but it might be nice if we could dynamically find which fields are queryable and which aren't (eg maybe returning headers, maybe marking the fields differently).

On a related note, right now I'm sending back a list of all the fields that weren't included in the response because of permissions in a header; so maybe that approach would work

[2015-04-13 22:52] mnelson4 opened #24 "Translate between API fields like "EVT_desc_raw" to model params like "EVT_desc""
and vice-versa. This would probably be easiest by defining which model fields have a "_raw" version of them, finding them, and converting them before sending them to the models

[2015-04-29 16:34] mnelson4 commented on #8
ok so currently branch FET-8-integrate-core-7976 works with core FET-7976-permissions-defined-in-models. But with regards to applying capabilities to the models I think it's mostly there: you can specify admin, read, or even edit or delete contexts for your queries, and we are filtering out fields you shouldn't be able to read (which right now appear to just be post-content fields' raw values).

[2015-04-29 16:35] mnelson4 commented on #24
this is mostly happening, except in the query parameters passed in by the API: if there is a "_raw" version of a field, it's the only one that's ever queryable; and when creating the query parameters for the models, they need to have the "_raw" part removed from their names

[2015-04-29 16:36] mnelson4 commented on #23
generally I think I could spend a little more time providing quite a bit of info in the headers that would be useful for developers

[2015-05-07 17:31] mnelson4 commented on #8
once the core branch that this depends on is merged in I'll close this

[2015-05-07 19:22] mnelson4 commented on #24
ok this looks to be done

[2015-05-07 19:22] #24 closed, assigned to mnelson4

[2015-05-07 20:49] mnelson4 commented on #23
At least here's an initial version of it; we'll definetely change it once core has figured out how they're going to do this, and probably also as we get feedback

[2015-05-07 20:49] #23 closed, assigned to mnelson4

[2015-05-07 21:06] #11 closed, assigned to nobody

[2015-05-08 23:44] mnelson4 opened #25 "Perform validation on querystring input"
We really shouldn't be passing all values directly onto the models, especially order_by, limit, etc.

[2015-05-08 23:56] mnelson4 opened #26 "Use filter[caps] not separate "context" query param. Besides "context" will get confused with WP "context""
This should be a relatively quick refactor of the models read controller

[2015-05-12 05:16] mnelson4 opened #27 "Investigate BETWEEN query param not getting parsed"
It would probably be nice to have a header or something to set DEVELOPER MODE so that incorrectly query parameters result in an error.

[2015-05-12 05:21] mnelson4 opened #28 "Simpler querystrings"
It might be nice if, instead of providing uber long querystrings like `{site_url}/wp-json/ee/v4.6/events?where[filter][EVT_created][]=BETWEEN&where[filter][EVT_created][]=2015-02-07T23:19:57&where[filter][EVT_created][]=2015-03-07T23:19:57`, if you could instead provide a string like
`{site_url}/wp-json/ee/v4.6/events?where[filter][EVT_created]=/BETWEEN/2015-02-07T23:19:57/2015-03-07T23:19:57/`,
`

[2015-05-12 19:15] mnelson4 opened #29 "Including related models makes it return NULL"
http://dev2.eventespresso.com/wp-json/ee/v4.6/events?include=Datetime.* returns just the word null

[2015-05-13 02:02] mnelson4 commented on #19
Decided to instead put the documentation here: http://developer.eventespresso.com/docs/ee4-json-rest-api-documentation/
and a separate tutorial that uses the API here: http://developer.eventespresso.com/tutorial/building-an-ee4-addon-that-uses-angular-js-and-the-ee4-json-rest-api/

[2015-05-13 02:02] #19 closed, assigned to mnelson4

[2015-05-18 23:26] mnelson4 commented on #29
hmmm- no it doesn't. Must have been a temporary bug?

[2015-05-18 23:26] #29 closed, assigned to nobody

[2015-05-19 23:58] mnelson4 commented on #27
added setting for enabling a debug mode so we can shows errors etc (nice for developers) or try our best (nice for users); although I'm not using the setting yet

[2015-05-19 23:58] #27 closed, assigned to nobody

[2015-05-20 18:40] #26 closed, assigned to nobody

[2015-05-20 21:44] mnelson4 commented on #25
validating LIMIT filter passed in. Its the only query param in the models that is used as-is, all the others don't use the input provided directly, or look for specific values (eg, many of them expect to receive model field names, and if valid ones aren't provided an error is thrown). So I think this is the only one that needs to be validated. I may continue this ticket a bit for doing extra valid

[2015-05-20 21:44] #25 closed, assigned to nobody

[2015-05-20 21:46] mnelson4 commented on #13
started a p2 discussion on this: http://p2.eventespresso.com/2015/05/20/ee4-json-rest-api-backwards-compatibility-adding-models-and-fields/

[2015-05-21 19:10] mnelson4 opened #30 "Code samples for API clients"
seth suggested creating some like the code samples seth created on http://eventespresso.com/wiki/json-api-add-on/#Code_Examples.

[2015-05-24 20:23] nerrad commented on #30
+1 to the idea.  However I looked over the examples Seth did, I think we may want to update them (and the new ones you do for the EE4 REST api) to _not_ use `file_get_contents()` and instead use the `wp_remote_request()` family of functions for the api usage examples in php.  Many servers have remote url functionality turned off for `file_get_contents()` so it's not the best function to use in an

[2015-05-25 15:59] mnelson4 commented on #30
ya that's an excellent point

[2015-05-25 16:02] sethshoultes commented on #30
Please keep in that those examples are stand-alone, non-WP examples.

[2015-05-25 16:22] mnelson4 commented on #30
also an excellent point.

[2015-05-25 16:37] mnelson4 commented on #30
hey @sethshoultes what do you think about doing these examples instead in javascript? I think that's generally more portable yet (also I think I'll put them on developer.eventespresso.com as "tutorial" posts, instead of github gists)

[2015-05-25 16:51] sethshoultes commented on #30
Ya, that works for me.

[2015-05-26 21:20] mnelson4 commented on #30
ok here they are: http://developer.eventespresso.com/tutorial/ee4-json-rest-api-code-samples/

[2015-05-26 21:20] #30 closed, assigned to nobody

[2015-05-28 22:35] garthkoyle opened #31 "Support for Event Espresso 4 Ticket Scanning"
We need to provide support for scanning a bar/qr code(s) that are generated via the Ticket Scanning add-on.

I hope we don't have to build our own mobile apps, but rather encourage other mobile app developers to provide support for the awesome apps they have already built.
- http://eventespresso.com/wiki/barcode-scanner-add-on/
- https://eventespresso.com/product/eea-barcode-scanner/

For check-in

[2015-05-29 00:13] mnelson4 commented on #31
yeah specifically what INFO is contained in the QR codes?

[2015-05-29 01:53] nerrad commented on #31
The QR codes encode the `EEM_Registration::reg_url_lnk`,  Barcodes will either be `EEM_Registration::reg_code` or `EEM_Registration::reg_url_lnk` depending on how users setup the barcode generation.

So for the purpose of this ticket the api doesn't really need to do anything specific for scanning.  Anything built _using_ the api would:
- need to scan barcodes (using whatever native scanner librar

[2015-06-05 16:15] mnelson4 opened #32 "Enforce versioning"
Requests to v4.6 of the API should only return core data from 4.6 (and whatever addons may add), NOT stuff from 4.7, even though core may actually be on 4.7. If the API can't generate a response in exactly the same format as 4.6 then it should return an error stating that

[2015-06-06 00:05] mnelson4 commented on #32
note I created  a branch called FET-32-enforce-versioning which works with core FET-7976-merge-MER, which like its name suggests, is FET-7438-MER-4.6 (which contrary to its name, is actually the 4.7 version of core) merged with what the API needs, FET-7976-permissions-defined-in-models

[2015-06-09 00:38] mnelson4 opened #33 "Don't redirect JSON API requests"
When EE core gets updated, don't redirect JSON API requests

[2015-06-09 16:48] mnelson4 commented on #32
should also
- [x] update min core version
- [x] update readme.md file
- [x] refactor controllers into same folder with consistent naming
- [x] mention what versions are supported in the index
- [x] make sure meta links refer to same version
- [x] make sure relations take version into account

[2015-06-09 17:21] #8 closed, assigned to nobody

[2015-06-09 18:09] mnelson4 opened #34 "EE maintenance mode borks wp-json output"
When EE is in maintenance mode, a notification gets added to the JSON output. yuck. preferably we'd only add this as a header on EE requests, and nothing on normal wp requests

[2015-06-09 19:54] mnelson4 commented on #34
this is really an EE core issue so created https://events.codebasehq.com/projects/event-espresso/tickets/8325#!properties.

[2015-06-09 19:54] #34 closed, assigned to nobody

[2015-06-09 20:12] mnelson4 commented on #32
actually I should do some documentation about this, explaining that each version of core gets its own set of endpoints, but that only the most recent one shows up in the index.
Also, we'll continue to support old versions as long as we can, but once they're deprecated they won't respond anymore (unless you provide a header saying you realize you're using a deprecated version and that it might blow

[2015-06-16 16:13] mnelson4 opened #35 "make EE4 api work with WP API 1.2 AND 2.0"
right now it only works with 1.2

[2015-06-16 19:17] mnelson4 commented on #32
documented it just last week

[2015-06-16 19:17] #32 closed, assigned to nobody

[2015-06-17 18:28] mnelson4 commented on #35
We've been having a good dicussion on it on p2.eventespresso.com, and have some plans for how we'll integrate with 2.0 in the future.

Right now, integrating with BOTH WP API 1.2 and 2.0 is tricky. At least joehoyle recommended against it: https://wordpress.slack.com/archives/core-restapi/p1434482760000003

So the plan in summary is that currently our API will integrate with WP API 1.2. Once WP AP

[2015-07-03 18:41] mnelson4 commented on #35
it seems we're going to instead go with the plan documented here: http://developer.eventespresso.com/docs/ee4-json-rest-api-documentation/#What_Version_of_Wordpress_JSON_REST_API_does_this_work_with

[2015-07-03 18:41] #35 closed, assigned to mnelson4

[2015-07-03 18:45] mnelson4 commented on #13
As each new version of EE core is release this will just require slight ongoing tweaks to document what's NEW in that version in the API code, and add the new version to the list of supported versions in the index.
If the new EE core version REMOVES fields or models, basically all previous supported versions will get removed from the index's list of previously supported versions. We MAYBE can defi

[2015-07-03 18:45] #13 closed, assigned to nobody

[2015-07-03 22:41] mnelson4 opened #36 "Announce release of EE4 JSON REST API"
Ok so what we have right now does a good job of READING EE data imo, but we need users and feedback. I think it would be good to:
- [ ] make a follow-up post on eventespresso.com telling folks the reading milestone of the API is finished, provide a link to http://developer.eventespresso.com/ee-plugin/ee4-json-rest-api/ and http://developer.eventespresso.com/docs/ee4-json-rest-api-documentation/.
-

[2015-07-28 09:43] ganeshcodes opened #37 "Retrieving event custom fields"
Hi All,
I am using EE4 for creating events. I have installed Event Espresso - REST API (EE4.x+) and WP REST API plugins for fetching the events data. I have created two custom fields (presenters, presenter_details).

URL : /wp-json/ee/v4.6/events?include=Venue._,Datetime._,Extra_Meta.*

I am getting the events details along with Venues and Datetimes but extra_metas is null. I expected those custom

[2015-07-28 22:14] mnelson4 commented on #37
do you mean you added these fields from the wp dashboard while editing the event? https://drive.google.com/file/d/0B2KCao4zFjaxWU53Yi11eDVDdlU/view?usp=drivesdk

If so they've actually been added as post meta, not extra meta (basically, "extra meta" is intended for all the EE things that don't already have a way to store meta info; and because custom post types and users already have a way to stor

[2015-07-28 22:27] mnelson4 commented on #37
oh actually my apologies: if you're authenticated you CAN currently get postmeta data from the normal wp api, although it's not exposed terribly obviously. You can use the url `{site_url}/wp-json/posts/{id}/meta`.
So for each event that you want postmeta for, you currently will need to send a separate request to:
`{site_url}/wp-json/posts/{event_id}/meta` to get that event's post meta. Make sense?

[2015-07-29 07:38] ganeshcodes commented on #37
Thanks for your response. I tried the forked version of basic auth plugin and tried hitting the api call from Advanced rest client with admin credentials. Now it's working. This should be merged into main basic-auth plugin. And as you said, custom fields didn't come in extra_metas. So I need to hit two resource urls to fetch the all events details.

URL 1 : https://localhost/wordpress/wp-json/ee/v

[2015-07-29 19:41] mnelson4 commented on #37
Please tell the basic auth plugin author: https://github.com/WP-API/Basic-Auth/pull/18
I agree it should be merged but so far haven't heard back. I think it would help to have someone else confirm it works.

yeah it's obviously not the model of efficiency. We'll work on a solution for you (and everyone else who will be wanting postmeta for their events, venues, and attendees) but it needs to weigh

[2015-07-29 19:42] #36 closed, assigned to sethshoultes

[2015-07-30 20:32] mnelson4 commented on #37
ACTUALLY, we've had this work done quite a while now, but it's just been awaiting testing. @ganeshbabu91 would you be wiling to do some testing to help get the work merged into core?

[2015-08-05 05:51] ganeshcodes commented on #37
I have requested the basic auth plugin author to merge this to the master two days ago.

Could you let me know approximately when the solution would be available for us to use? I am definitely willing to do some testing. Let me know how could I help you.

[2015-08-05 16:59] mnelson4 commented on #37
it's available for testing now actually!

In event-espresso-core, checkout the branch BUG-8587-add-post-meta-model. Note that this based off our upcoming 4.8 release which is currently in beta. So when you switch to this branch, it will require running some data migration scripts. You'll need to run those before continuing to use EE.

Once you've switched the core branch and ran the migrations, yo

[2015-09-08 20:38] jonatshift commented on #4
I'm in desperate need for the ability to create events and add users for the event (tied to the User Integration plugin)!  I have old events and registrants I would like to import to our new EE4 website...

[2015-09-08 21:59] mnelson4 commented on #4
hi jonatshift, just to check: why do you need to create events over the rest API?
Can you please describe a little what exactly you need to do to help us plan out the feature? (Eg what other technologies you plan to use, what the user experience will be, how you hope to use the API to accomplish that, etc)
Knowing that will help us build a feature that will more likely fit your needs

[2015-09-09 15:01] jonatshift commented on #4
It doesn't need to be in the REST API to be honest.  I'm just looking for a way to import old events and registrants from another system!  I can't seem to do this anywhere and thought it would be great if I could through the REST API.

Any help on figuring out how to do this would be greatly appreciated!

Thank you.

[2015-09-09 18:59] mnelson4 commented on #4
By "another system" do you mean another installation of EE?

If so, our importer tool sounds like what you need, but it's currently being fixed. You can try it out using the 7537 branch: https://github.com/eventespresso/event-espresso-core/tree/BUG-7537
If you want to test it, use this branch on your old EE installation and use the "Export" action on the admin event listings page. This will create

[2015-09-09 19:06] jonatshift commented on #4
Hi,

Yes it's from a different event management system (Joomla's DT Register extension).  We can generate a CSV in any format with all the info EE needs.

I've been working with your support team and they suggested reverting to EE3 (http://eventespresso.com/topic/ee4-import-events-and-attendees/) which has the old import tool.  We went ahead and did that but when we import it doesn't link the user

[2015-09-09 21:38] mnelson4 commented on #4
currently no the EE4 importer in the above-mentioned branch doesn't import registrations either. I'd continue discussing with support, or open a new ticket in EE core, as this ticket is intended for a much different purpose.

[2015-09-10 18:31] jonatshift commented on #4
No problem.  Thank you anyway.

[2015-09-17 06:08] mnelson4 opened #38 "Endpoints for simplified check-in of registrants"
This was requested in our documentation: http://developer.eventespresso.com/docs/ee4-json-rest-api-documentation/ and seems like it would be good

[2015-09-24 17:50] msyadav88 opened #39 "ee4 rest api - get registration details based on reg_id using oauth authentication"
I have setup the wp auth server and get all registrations on executing http://v2.iregister.ie/wp-json/ee/v4.6/registrations
But If I want to get registration details with reg_id = 94
http://v2.iregister.ie/wp-json/ee/v4.6/registrations?filter[where][REG_ID]=94
Then its giving the below error
Array(
    [result] => Array (
            [0] => Array (
                    [code] => json_registrations_

[2015-09-24 18:14] mnelson4 commented on #39
hi @msyadav88, so you're saying that accessing `http://v2.iregister.ie/wp-json/ee/v4.6/registrations` works fine (no error), and lists all the registrations (including the one with REG_ID=94), but as soon as you add `?filter[where][REG_ID]=94` onto the end you get the error?

[2015-09-24 18:22] msyadav88 commented on #39
Yes, absolutely right, And also http://v2.iregister.ie/wp-json/ee/v4.6/registrations/94 is working properly and displaying registration detail with id=94

[2015-09-24 18:32] mnelson4 commented on #39
strange. I'll see if I can reproduce the bug

[2015-09-24 18:37] msyadav88 commented on #39
Also this is working
http://v2.iregister.ie/wp-json/ee/v4.6/registrations?access_token=myaccesstoken&filter[where][REG_ID]=94

[2015-09-24 18:44] mnelson4 commented on #39
I've just been using the basic auth plugin for authentication so far and found using `{site_url}/wp-json/ee/v4.6/registrations?filter[where][REG_ID]=1` worked just fine. So it seems to be an issue relating to however you're authenticating. Are you using https://wordpress.org/plugins/oauth2-provider/ ?

It seems that if providing a querystring you need to explicitly provide the accesstoken in the q

[2015-09-24 18:51] msyadav88 commented on #39
Hi mnelson4,

Please can you know me to get the registration id from EE_registration class
I got the reg_code by $registration->reg_code()
But there is not function such as $registration->reg_id()

[2015-09-24 18:54] mnelson4 commented on #39
take a look at the class `EE_Registration` and its parent `EE_Soft_Delete_Base_Class` and `EE_Base_Class`. I think the method you want is just `ID()` on `EE_Base_Class`

[2015-09-24 18:56] mnelson4 commented on #39
and regarding your original error, I'd verify you can pass querystring variables on normal WP endpoitns without authentication problems. Eg http://v2.iregister.ie/wp-json/posts?post_type=page etc because this sounds more like an authentication issue than an EE api issue

[2015-09-24 19:30] msyadav88 commented on #39
Thanks Mnelson for your support

[2015-09-24 19:33] msyadav88 commented on #39
Hi Mnelson,

I have one more issue.
http://v2.iregister.ie/wp-json/ee/v4.6/registrations/94/?access_token=myaccesstoken&include=Attendee.ATT_email
This gives only attendee's ATT_ID field value and not attendee's email address.
Can you help me please.

[2015-09-24 19:39] mnelson4 commented on #39
are you certain it's ONLY getting the ATT_ID field? It should return the ATT_ID (by default) and teh ATT_email.
This query http://v2.iregister.ie/wp-json/ee/v4.6/events?include=Datetime.DTT_EVT_start&filter[limit]=1 includes the related datetimes' DTT_ID and DTT_EVT_start

[2015-09-24 20:00] msyadav88 commented on #39
I thinks that its the error of curl posting or wp rest api
If I direct open this url on browser
http://v2.iregister.ie/wp-json/ee/v4.6/registrations/94/?access_token=myaccesstoken&include=Attendee.ATT_email  , then it  gives both att_id and att_email
But  if I call it through curl setup , then it only gives att_id.

[2015-09-24 20:07] mnelson4 commented on #39
ah, curl mustn't be happy with the `.` in `Attendee.ATT_email`. If you send a request to http://v2.iregister.ie/wp-json/ee/v4.6/events?include=Datetime.&filter[limit]=1 it similarly only return sthe datetime's DTT_ID.
Maybe curl requires you to escape the period?

[2015-09-25 10:59] msyadav88 commented on #39
Hi mnelson,

I have setup the oauth authentication from referring below link
https://www.youtube.com/watch?v=pRFCmjiRNco

I am just stuck in a issue.
Below code is working properly
    $client->setAccessToken('myaccesstoken');
    $url = 'http://v2.iregister.ie/wp-json/ee/v4.6/registrations';
    $response = $client->fetch($url);
But below code giving error
    $client->setAccessToken('myaccesstok

[2015-09-25 17:00] mnelson4 commented on #39
HI @msyadav88, I thought you said you could manually add the access token to the URL string and it would work? eg `http://v2.iregister.ie/wp-json/ee/v4.6/registrations?access_token=myaccesstoken` works right? Is that an option?
Also, do the WP core endpoints have the same problem? ie, does `http://v2.iregister.ie/wp-json/users?` give you an authentication error too? If so this issue would best be

[2015-10-06 19:03] mnelson4 commented on #4
We created a card on our trello public roadmap for this: https://trello.com/c/8tMyx5SA/95-add-payment-functionality-to-the-json-api
Please upvote this feature there to help prioritize it

[2015-10-22 20:13] mnelson4 opened #40 "Accounting for ongoing model changes in EE Core"
Whenver a new model or new model field is added to EE core, the EE REST API should be aware of it so those models and fields don't appear in older versions of the API (eg the POst Meta model was just added in 4.8, so we need to inform the API it's new in `EE_REST_API_Model_Version_Info::_model_changes` so that requests to the 4.7-style API don't include that model)

[2015-10-22 20:15] mnelson4 commented on #40
related EE core ticket: https://events.codebasehq.com/projects/event-espresso/tickets/8996

[2015-10-23 02:44] mnelson4 commented on #40
work on branch **FET-40-accounting-for-ongoing-model-changes-in-ee-core**

[2015-10-23 20:36] mnelson4 commented on #40
merged to master

[2015-10-23 20:37] #40 closed, assigned to nobody

[2015-10-26 16:48] mnelson4 commented on #14
a user basically responded to our survey and basically requested this, on October 25th 2015

[2015-10-26 16:53] mnelson4 commented on #4
received feedback on our survey basically upvoting this on October 25th 2015

[2015-10-26 16:54] mnelson4 commented on #33
it looks like the global REST_REQUEST is actually getting included in core (or I think its named something like that) so we can use that as a conditional when deciding whether or not to redirect

[2015-12-09 21:50] mnelson4 commented on #37
well BUG-8587-add-post-meta-model has been merged into 4.8.18 so this issue should be resolved

[2015-12-09 21:50] #37 closed, assigned to mnelson4

[2015-12-09 22:47] mnelson4 opened #41 "bulk requests"
Supporting bulk requests is particularly important for EE because we have so much highly related data.
But ideally our write API could just focus on handling single requests, and then there would be a WP API core bulk handling of performing bulk requests. See https://github.com/WP-API/WP-API/issues/561, which maybe we could contribute to.
Especially see https://developers.facebook.com/docs/graph-a

[2016-01-11 23:03] mnelson4 commented on #21
Ended up just being a filter

[2016-02-14 06:26] richardteachout opened #42 "desperately need to be able to check-in attendees from a mobile phone"
desperately need to be able to check-in attendees from a mobile phone, as we had in EE3..
So, basically, we're waiting on the EE4write endpoints.  50% of the entire reason we for eventespresso was for exactly that purpose (for our haunted house each sept/oct - but last oct we didn't have the ability to check-in attendees remotely easily (as the admin interface / bar code scanning doesn't work well

[2016-02-14 15:19] garthkoyle commented on #42
Hi Richard,

Thank you for your feedback.

Are handheld bar/qr scanners not an option?

We have started development on mobile apps but I can't give you a firm completion date. So you want the mobile apps by May to use in September?

[2016-02-15 17:47] mnelson4 commented on #42
also @richardteachout have you seen we added a checkin/checkout endpoint in 4.8.33? Here's the documentation: http://developer.eventespresso.com/docs/ee4-rest-api-rpc-style-endpoints/. Does that meet your need?

[2016-05-29 20:02] devlift commented on #42
Hi there,

Just wondering if there are any plans to add event creation and registration via the API. We are building a pickup sports app and your plugin fits perfectly, except for these two items.

Thanks!

[2016-05-31 18:34] mnelson4 commented on #42
we actually got started on this in EE core branch https://github.com/eventespresso/event-espresso-core/tree/FET-9222-rest-api-writes but put it on hold because we weren't aware of much interest. Would you be willing to help test it if we got that branch working again?

[2016-05-31 18:36] nerrad commented on #42
This should go into its own github issue..

[2016-05-31 19:50] devlift commented on #42
Thanks for the quick reply. We would absolutely be willing to test. @nerrad sorry - I can also create a separate issue.

Thanks!

[2016-05-31 19:56] mnelson4 commented on #42
yeah; and seeing how this feature will be in EE core, not the deprecated rest api addon, it would probably be best created in the EE core issue tracker.

And ya the original issue this is for has been addressed because you can currently check registrations in and out of events via the api

[2016-05-31 19:56] #42 closed, assigned to sethshoultes

[2016-05-31 21:07] devlift commented on #42
Thanks @mnelson4 - Is there a specific area where you would like be to add the feature request?

Thanks!

[2016-05-31 21:35] mnelson4 commented on #42
I'd suggest adding it here: https://github.com/eventespresso/event-espresso-core/issues

[2016-05-31 21:36] mnelson4 commented on #31
we built our own mobile apps so I think this is basically invalidated

[2016-05-31 21:36] #31 closed, assigned to nerrad

[2016-05-31 21:36] #21 closed, assigned to mnelson4

[2016-06-10 21:31] giovannasg opened #43 "EE4 decaf v9.0 vs eea-rest-api v3.0.1 vs WP-Rest-Api"
I have a site with "wp 4.52". Today i have installed "ee4decaf version 4.9" and when i active
"Event Espresso 4 - Events REST API - Versione: 3.0.1.beta.003" the wp-api doesn't function.
Every route (for example the main "wp-json/posts") show a route error.
If i deactive the plugin ee3-rest-api, all it's okay.
Is there a compatibility problem?
thanks

[2016-06-10 21:53] mnelson4 commented on #43
the ee4-rest-api addon is deprecated, see https://eventespresso.com/2016/01/rest-api-now-in-ee4-core/.
Do you need to use the WP API v1 (which is also deprecated, see http://wp-api.org/index-deprecated.html where it mentions that it's "legacy")? Or is it an option to use WP API v2?

The EE4 REST API included in EE4 since 4.8.29 is compatible with WP API v2. See https://github.com/eventespresso/eve

[2016-06-10 22:02] giovannasg commented on #43
I'have upgraded my site to "wp api v2", deinstalled the ee2-rest-api addon and all it'ok
thanks for information

[2016-06-10 22:03] mnelson4 commented on #43
no problem; sorry I noticed that I don't think we mentioned anywhere on this repo that it's deprecated

[2016-06-10 22:03] #43 closed, assigned to mnelson4

[2017-01-17 18:57] msyadav88 commented on #39
Hi @mnelson4 ,
After some months I again start facing the same below on http://iregister.ie/v2/wp-json/ee/v4.8.36/registrations/21165?include=Answer.ANS_value,Answer.Question.*,Attendee.*,Event.EVT_ID&access_token=myaccesstoken

{"code":"rest_user_cannot_read","message":"Sorry, you cannot read this registration. Missing permissions are: ee_read_registrations,ee_read_others_registrations","data":{"

[2017-01-17 21:05] mnelson4 commented on #39
That error means that you're not authenticated, so it's most likely an issue between the authentication plugin and WP; but it's possible EE is somehow messing that up too (less likely though).
Did you just upgrade EE? Or did you upgrade WP? If so, what did you just upgrade from?
Are you getting similar authentication problems when using the WP core endpoints?

[2017-01-18 12:56] msyadav88 commented on #39
Hi @mnelson4 ,
My wordpress version is 4.6.2.  Event espresso 's version is 4.9.19
http://iregister.ie/v2/wp-json/ee/v4.8.36/events This is working
Also if wp-json or wp rest api plugins are mandatory?

[2017-01-18 14:36] nerrad commented on #39
The latest released of EE is 4.9.26.p and the latest version of WordPress is 4.7.1 - I'd recommend first trying to upgrade to those latest versions and see if you still experience the issues.  When you upgrade you won't need the WP REST api plugin installed.  I'm not sure what your experience would be on 4.6.2 of WP, you would need the WP REST api plugin installed if you want the WordPress core en

[2017-01-18 18:56] msyadav88 commented on #39
Thanks for the support.
I have upgraded wordpress and EE to latest version but the same problem.
http://iregister.ie/v2/wp-json/wp/v2/users is working.

Previously EE version was 4.8.36 so its endpoint was http://iregister.ie/v2/wp-json/ee/v4.8.36/registrations/21165
Now the EE version is 4.9.26 then its endpoint should be http://iregister.ie/v2/wp-json/ee/v4.9.26/registrations/21165  ?

http://ir

[2017-01-18 19:09] nerrad commented on #39
Our endpoints do not version with each ee core release anymore.  You can read [this article](http://developer.eventespresso.com/rest-api-addition-in-event-espresso-4-8-40-new-backwards-compatibility-policy/) for more info.  Thus, the latest versioned endpoint to use is `/ee/v4.8.36`.

[2017-01-18 20:00] joshfeck commented on #39
Your server doesn't automatically allow passing the Authorization headers. So to fix this, the .htaccess file located in the /v2/ directory of your server needs an edit.

Line 41 read like this:
`RewriteRule ^index\.php$ - [L]`

it now reads as:

`RewriteRule ^index\.php$ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]`

If the above gets changed back at any time in the future, you'll need to mak

[2017-01-20 05:33] msyadav88 commented on #39
Thank for you support

Could you please provide me any reference link from where it could help me integrating the ee4 api through basic authentication. You tube video will also be appreciated.

[2017-01-20 05:36] msyadav88 commented on #39
Also please let me know which authentication method is best for it. I guess Application password.

[2017-01-20 13:38] nerrad commented on #39
EE does nothing unique regarding authenticating with Basic Auth, there's lots of documentation that can be googled online about authenticating for things with Basic Auth.  There's also documentation that can be googled online about using the Application Passwords plugin. All the best with your project.  I'm going to close this thread now because the original request has been resolved.

[2017-01-20 13:38] #39 closed, assigned to mnelson4

[2017-04-19 16:35] #4 closed, assigned to nobody

[2017-04-19 16:35] #5 closed, assigned to nobody

[2017-04-19 16:35] #6 closed, assigned to nobody

[2017-04-19 16:35] #7 closed, assigned to nobody

[2017-04-19 16:35] #14 closed, assigned to nobody

[2017-04-19 16:35] #15 closed, assigned to mnelson4

[2017-04-19 16:35] #16 closed, assigned to nobody

[2017-04-19 16:35] #17 closed, assigned to nobody

[2017-04-19 16:35] #20 closed, assigned to nobody

[2017-04-19 16:35] #22 closed, assigned to nobody

[2017-04-19 16:35] #28 closed, assigned to nobody

[2017-04-19 16:35] #33 closed, assigned to mnelson4

[2017-04-19 16:35] #38 closed, assigned to nobody

[2017-04-19 16:35] #41 closed, assigned to mnelson4

[2022-11-25 23:28] Cowthulu opened #44 "Reading Equivalent of Registration CSV Report"
Hello -

I am trying to use the EE REST API to essentially read all of the data that is present in the report that you get when you run the Registration CSV export. It seems like I can assemble the data, but it requires a lot of sub-queries. A few questions:

1. Is there a more straightforward method to read that data?
2. If not, is there a recommended approach (start with registrations? start wit

[2022-11-26 01:20] tn3rb commented on #44
LOLZ, no sorry, uh... _welcome to REST APIs_?

Unfortunately with any REST API there is a 1:1 relationship between an endpoint and a specific resource. Any kind of relational data will require multiple queries to retreive that data. There really is no way around that other than to use something other than REST, such as GraphQL which _can_ return a full set of relational data in a single query. But

[2022-11-26 02:29] Cowthulu commented on #44
Brent –

Thank you for your quick response – it is appreciated.

Basically, I just want to denormalize the data and get something like Name of Person, Item purchased, Amount Paid. I can do it the hard way, though.

One issue – I don’t see any real support for pagination – just the ability to increase the page limit. I have a small enough dataset that I can probably get away with that (and testing

[2022-11-26 02:45] tn3rb commented on #44
unfortunately with REST there is only the hard way when you have relational data

AFAIK there is no built in way to do that and you just have to manually set your page size and offset.

[2022-11-26 18:31] Cowthulu commented on #44
When you say “manually set your page size and offset” what do you mean? That would imply that there was a way to specify a page size and an offset and I don’t see anything like that…

Again, I appreciate the help. One thing about REST – there is no requirement that it has to model your data structures. In fact, it is generally not considered appropriate to expose your underlying data structures vi

[2022-11-26 21:40] tn3rb commented on #44
our REST API implementation allows you to set the limit and offset. See here:
https://github.com/eventespresso/event-espresso-core/blob/master/docs/C--REST-API/ee4-rest-api-GET-filtering-results.md#limit

you are 100% correct, but that's not how the developer that built our REST API did things

[2022-11-27 01:13] Cowthulu commented on #44
Awesome, thanks!

And, speaking as a developer, you can’t trust developers—they do weird things :-).

Arlen

From: Brent Christensen ***@***.***>
Sent: Saturday, November 26, 2022 2:40 PM
To: eventespresso/eea-rest-api ***@***.***>
Cc: Arlen Feldman ***@***.***>; Author ***@***.***>
Subject: Re: [eventespresso/eea-rest-api] Reading Equivalent of Registration CSV Report (Issue #44)

When you say “m